
*.pdf
COVID-BAL-OralRinse/.DS_Store
COVID-BAL-OralRinse/.Rhistory
COVID-BAL-OralRinse/Filtered data/.DS_Store
COVID-BAL-OralRinse/Quality-check/.DS_Store
COVID-BAL-OralRinse/Quality-check/.Rhistory
COVID-BAL-OralRinse/Unfiltered/.DS_Store
COVID-BAL-OralRinse/Unfiltered/.Rhistory
COVID-BAL-OralRinse/Quality-check/Contaminant-visualisation.R
COVID-BAL-OralRinse/Unfiltered/Phylum/.DS_Store
COVID-BAL-OralRinse/Unfiltered/Genus/.Rhistory
COVID-BAL-OralRinse/Library-size.csv
COVID-BAL-OralRinse/Unfiltered/Class/.Rhistory
Healthy-controls/.Rhistory
COVID-BAL-OralRinse/Unfiltered/Class/Stacked-bar-plot-Class.R
Healthy-controls/Family/.Rhistory
Healthy-controls/.DS_Store
IPF-progressive/.DS_Store
IPF-progressive/.Rhistory
IPF-progressive/Family/.Rhistory
.DS_Store
POSTCODE/.DS_Store
.DS_Store
